
.Card {
    border:2px solid black;
    height: 150px;
    width: 150px;
    background-color: rgb(119, 24, 24);
    margin: 20px;
    text-align: center;
    color: white; 
    float: left;
    transition: transform 0.5s;
    padding: 20px;
    border-radius: 10%;
}

.Card.face-up {
    border:2px solid black;
    background-color: rgb(20, 22, 117);
    transform: rotateY(180deg);
    background-size: cover;
    background-position-x: center;
    
}



