
.Card {
    border:2px solid black;
    height: 150px;
    width: 150px;
    /* background: linear-gradient(#4F1418, #D04524,#cf6121, #F5BA60, #eedabd); */
    margin: 20px;
    text-align: center;
    color: white; 
    float: left;
    transition: transform 0.5s;
    padding: 20px;
    border-radius: 10%;
    background: url(logodrwho.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.Card.face-up {
    border:2px solid black;
    background-color: rgb(20, 22, 117);
    transform: rotateY(180deg);
    background-size: cover;
    background-position-x: center;
    
}

